# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
.nuget/
nuget.exe
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# User files
*.suo
*.cache
*.csproj.user
*.fsproj.user
